* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: linear-gradient(-45deg, #e25858, #af0000, #001238, #125bf8);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.memory-game {
  width: 900px;
  height: 620px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(16.666% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px #ccc;
}

.front-face:hover,
.back-face:hover {
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 10px #ccc;
}

.front-face {
  transform: rotateY(180deg);
}

.score {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 20px;
}

.matches,
.moves {
  display: block;
  margin-bottom: 5px;
}

.reset-sec {
  position: absolute;
  bottom: -70px;
  left: 50%; /* Centralizar horizontalmente */
  transform: translateX(-50%);
}

.butonreset {
  align-content: center;
  width: 150px;
  height: 40px;
  background: linear-gradient(to right, #ffc107, #ff9800);
}

.butonreset:hover {
  background: linear-gradient(to right, #ff9800, #ffc107);
}
